@model List<Alert>

@foreach (Alert alert in Model)
{
    string dismissableClass = alert.Dismissible ? "alert-dismissable" : null;

    <div class="alert alert-@alert.AlertStyle @dismissableClass">
        @if (alert.Dismissible)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
        @Html.Raw(alert.Message)
    </div>
}